doctype html
html
   head
      title Milan
      meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0")
      script(src="jquery.min.js")
      script(src="/socket.io/socket.io.js")
      script(src="script.js")
      script(src="masonry.pkgd.js")
      script(src="imagesloaded.pkgd.js")
      style.
         thegrid {
         }

         body {
            font-family: Verdana;
            font-size: 13px;
            background: #000;
         }
         
         h1 {
            color: white;
         }
         .item {
            width: 33.2;
            float: left;
         
         .item img {
            width: 100.5%;
         }


   body
      div.container
         header

         div#gridcontrol
            button#removeImage Remove Image
            button#helloBtn Hello!
         div#thegrid
         div#imageDisplay

//      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
//            h1 A responsive and animated grid layout         

 
