doctype html
html
   head
      title Milan-Admin
      meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0")
      script(src="jquery.min.js")
      script(src="/socket.io/socket.io.js")
      script(src="sausage_script.js")
      script(src="imagesloaded.pkgd.js")

      style.
        html body {
           font-family: Verdana;
           font-size: 13px;
           width: 100%;
           padding: 0;
           margin: 0;
           border: 0;
        }


   body
      div.container
         header
         div#sausage
           button#sausageBtn sausagesJan!
         div#bagel
            "shmorgasbord"