doctype 5
html
   head
      title Milan Admin
      meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0")
      script(src="jquery.min.js")
      script(src="/socket.io/socket.io.js")
      script(src="sausage.js")
      script(src="imagesloaded.pkgd.js")

   body
      div.container
         header
         div#sausage
           button#sausageBtn sausages!
         div#bagel
            "shmorgasbord"
         

