doctype html
html
   head
      title Sausage Machine for Keynote Second Screen
      meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0")
      script(src="jquery.min.js")
      script(src="/socket.io/socket.io.js")
      script(src="sausage_script.js")
      script(src="imagesloaded.pkgd.js")

      style.
         html body {
            font-family: Verdana;
            font-size: 20px;
            color: rgb(220, 220, 220);
            width: 100%;
            padding: 0;
            margin: 0;
            border: 0;
            background-color: rgb(30, 30, 30);
         }

         .btn {
            background-color: rgb(130,130,130);
            border-radius: 11px;
            border: 3px solid rgb(255, 255, 0);
            color: rgb(230,230,0);
            padding: 16px 31px;
            margin: 16px 31px;
            font-size: 20px;
         }

         table  {
            width: 100%
            
         }

         td {
            border: 0px solid rgb(255, 255, 255);
            text-align: center;
         }

   body
      div.container
         header
         div#sausage
            table
               tbody
                  tr
                     td(colspan="3")
                        button#sausageBtnA.btn Reset All Clients
                        button#sausageBtnB.btn Show Final Image
                  tr
                    td(colspan="3")
                      |Remove Images
                  tr
                     td 
                       button#sausageBtn1.btn Image 1
                     td
                       button#sausageBtn2.btn Image 2
                     td
                       button#sausageBtn3.btn Image 3
                  tr
                     td
                       button#sausageBtn4.btn Odd Images Timed (Loop)
                     td
                       button#sausageBtn5.btn Group Timed (Abs)
                     td
                       button#sausageBtn6.btn Even Images
                  tr
                     td
                       button#sausageBtn7.btn Group 7
                     td
                       button#sausageBtn8.btn Group 8
                     td
                       button#sausageBtn9.btn All Images
           
