doctype html
html
   head
      title Sausage Machine for Keynote Second Screen
      meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0")
      script(src="jquery.min.js")
      script(src="/socket.io/socket.io.js")
      script(src="sausage_script.js")
      script(src="imagesloaded.pkgd.js")

      style.
         html body {
            font-family: Verdana;
            font-size: 20px;
            color: rgb(220, 220, 220);
            width: 100%;
            padding: 0;
            margin: 0;
            border: 0;
            background-color: rgb(30, 30, 30);
         }

         .btn {
            background-color: rgb(130,130,130);
            border-radius: 11px;
            border: 3px solid rgb(255, 255, 0);
            color: rgb(230,230,0);
            padding: 16px 31px;
            margin: 16px 31px;
            font-size: 20px;
         }

         .btnRed {
            background-color: rgb(250,130,130);
            border-radius: 11px;
            border: 3px solid rgb(255, 255, 0);
            color: rgb(230,230,0);
            padding: 16px 31px;
            margin: 16px 31px;
            font-size: 20px;
         }



         table  {
            width: 100%
            
         }

         td {
            border: 0px solid rgb(255, 255, 255);
            text-align: center;
         }

   body
      div.container
         header
         div#sausage
            table
               tbody
                  tr
                     td
                        button#sausageBtnA.btn Reset All Clients
                     td(colspan=2)
                        button#sausageBtn5.btnRed THE GRID ANIM
                  tr
                     td
                       button#sausageBtn7.btn Previous Slide (7)
                     td
                       button#sausageBtn10.btn Next Slide (10)
                     td
                       button#sausageBtn8.btn Show Slideshow (8)
                       button#sausageBtn9.btn Hide Slideshow (9)
           
